@charset "UTF-8";
.eyecatch {
    /* background: url(/images/main_back.svg)no-repeat right; */
    text-align: center;
    margin-top: 50px;
}

.inner_eyecatch {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.wrap_title {
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
}

.title {
    font-size: 8rem;
    line-height: 1.2;
}

.title .color {
    color: #37c7a6;
}

.sub_title {
    font-size: 2rem;
}

/* ------------------------------
レスポンシブ
--------------------------------*/
@media (max-width: 800px) {
    .wrap_title {
        height: 400px;
    }

    .title {
        font-size: 6rem;
    }
}

@media (max-width: 550px) {
    .eyecatch {
        /* background: url(/images/main_back_s.svg)no-repeat bottom; */
        margin-top: 0;
    }

    .wrap_title {
        height: 200px;
        padding-bottom: 90px;
        justify-content: flex-end;
    }

    .title {
        font-size: 3rem;
    }
}