@charset "UTF-8";


.eyecatch {
    background: url(/images/eyecatch_1.svg)no-repeat top;
    background-size: contain;
    height: 40vh;
    text-align: center;
    text-indent: -9999px;
    margin-bottom: 20px;
}

.summary {
    width: 50%;
    margin: 0 auto;
    font-size: 1.2rem;
    text-align: left;
    border-top: 2px dotted #0B315E;
    padding-top: 10px;
}

/* ------------------------------
レスポンシブ
--------------------------------*/
@media (max-width: 1024px) {
    .eyecatch {
        height: 20vh;
    }
}

@media (max-width: 550px) {
    .eyecatch {
        background: url(/images/eyecatch_small.svg)no-repeat center;
        width: 90%;
        margin: 0 auto;
        margin-top: 10%;
    }
}