@charset "UTF-8";

.footer {
    height: 180px;
    overflow: hidden;
}

.container {
    width: 800px;
    height: 800px;
    border: 3px solid #FF057C;
    border-radius: 50%;
    margin: 0 auto;
}

.copyright {
    padding: 2rem 0;
    box-sizing: border-box;
}


/* ------------------------------
レスポンシブ
--------------------------------*/
@media (max-width: 800px) {
    .container {
        height: 70%;
    }

}
