@charset "UTF-8";

.copyright {
    padding: 2rem 0;
    box-sizing: border-box;
}


/* ------------------------------
レスポンシブ
--------------------------------*/
@media (max-width: 800px) {
    .container {
        height: 70%;
    }

}
