@charset "UTF-8";

header {
    position: absolute;
    top: 30px;
    right: 30px
}

.container {
    display: inline-block;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    padding: 18px 30px;
    background-color: #FFFFFF;
    box-shadow: 2px 5px 10px rgba(0,0,1,0.1);
    z-index: 9999;
}

.list li {
    color: #222222;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
}

.list li:hover {
    opacity: 0.5;
    transition: 0.2s;
}

/* ------------------------------
レスポンシブ
--------------------------------*/
@media (max-width: 550px) {
    header {
        position: relative;
        top: 20px;
        right: 0;
    }

    .container {
        padding: 5px;
    }

    .list li {
        font-size: 0.8rem;
    }
}