@charset "UTF-8";

.container {
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    padding: 10px 30px;
    background-color: #FFFFFF;
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 9999;
}

.list li {
    color: #222222;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
}

.list li:hover {
    opacity: 0.5;
    transition: 0.2s;
}