@charset "UTF-8";

article {
    text-align: left;
}

.article_img {
    width: 100%;
    margin: 20px 0 80px;
}

.eyecatch {
    margin-top: 90px;
    height: 400px;
}

.eyecatch figure {
    height: 100%;
}

.category {
    text-align: right;
}

.category li {
    background-color: #CCCCCC;
    border-radius: 30px;
    padding: 0.3rem 1.2rem;
    display: inline-block;
}

/* -------記事内------- */
.wrap {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto 100px;
    padding: 50px 0;
}

.post_title {
    font-size: 2.1rem;
    margin: 30px 0;
}

.innerWrap_article h3 {
    font-size: 1.4rem;
    margin: 50px 0 10px;
}

.innerWrap_article p {
    color: #4D4B4B;
}

.innerWrap_article ul {
    margin: 10px 0 20px;
}

.innerWrap_article li {
    list-style: none;
}

.innerWrap_article li > p {
    display: inline-block;
}

.innerWrap_article li::before {
    content: "・";
    display: inline-block;
    font-weight: bold;
}


/* ------------------------------
レスポンシブ
--------------------------------*/
@media (max-width: 1024px) {
    .wrap {
        padding-top: 0;
    }

    .eyecatch {
        margin-top: 120px;
    }
}

@media (max-width: 550px) {
    .wrap {
        width: 80%;
    }

    .page_title {
        font-size: 1.7rem;
        margin: 40px auto;
    }

    .article_img  {
        width: 100%;
    }
}