@charset "UTF-8";

.wrap {
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

.outer_list_point {
    width: 80%;
    margin: 80px auto 80px;
}

.wrap_list_point {
    padding: 3rem;
    background-color: #F7F7F7;
    border-radius: 10px;
    margin-top: 60px;
}

.inner_list_point {
    display: flex;
    justify-content: space-between;
}

.inner_list_point p {
    width: 85%;
    margin: 0 auto;
    font-size: 0.9rem;
    text-align: left;
    margin-top: 15px;
}

.wrap_point_img {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.title_point {
    font-size: 1.6rem;
    margin-bottom: 50px;
}

/* ------------------------------
レスポンシブ
--------------------------------*/
@media (max-width: 900px) {
    .eyecatch {
        margin-bottom: 30px;
    }
}

@media (max-width: 550px) {
    .eyecatch {
        margin-top: 80px;
    }

    .wrap_list_point {
        display: inherit;
    }
}