@charset "UTF-8";

.eyecatch {
    font-size: 3rem;
    color: #222222;
}

.wrap_list_point {
    padding: 3rem;
    background-color: #F7F7F7;
    border-radius: 10px;
    margin-top: 100px;
}

.inner_list_point {
    display: flex;
    justify-content: space-between;
}

.wrap_point_img {
    width: 40%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.title_point {
    font-size: 1.6rem;
    margin-bottom: 50px;
}

/* ------------------------------
レスポンシブ
--------------------------------*/
@media (max-width: 900px) {
    .eyecatch {
        margin-bottom: 30px;
    }
}

@media (max-width: 550px) {
    .eyecatch {
        margin-top: 80px;
    }

    .wrap_list_point {
        display: inherit;
    }
}